<em-breadcrumb></em-breadcrumb>
<div class="container" ng-controller="EditUserController as ruCtrl">
<div class="row" ng-hide="loadingCounter<3">
   <div class="col-md-12">
      <div class="panel panel-grey">
         <div class="panel-body">
            <div class="col-sm-12">
               <div class="row">
                  <h1>{{'USER_INFORMATION' | translate}}</h1>
                  <ng-form  name="userForm" novalidate class="form-horizontal row-border">

                    <em-form-input-group title="{{'ROLE' | translate}} *" validate="ruCtrl.submittedBasic"
                          errors="[{role: [{required: 'SELECT_ROLE_MANDATORY'}]}]">
                        <select name="role" ng-model="ruCtrl.userAccount.authorities" class="form-control" ng-required="true"
                          ng-options="auth.value as auth.name for auth in ruCtrl.authorities">
                        </select>
                    </em-form-input-group>

                    <div ng-show= "ruCtrl.userAccount.authorities == 'ROLE_ADMIN'">
                      <em-form-input-group title="{{'FIRST_NAME' | translate}} *" errors="[{adminFirstName: [{required: 'FIRST_NAME_MANDATORY'}]}]"
                                                                                     validate="ruCtrl.submittedBasic">
                        <input name="adminFirstName" type="text" class="form-control" ng-model="ruCtrl.userAccount.firstName" 
                        ng-required="ruCtrl.userAccount.authorities == 'ROLE_ADMIN'">
                      </em-form-input-group>

                      <em-form-input-group title="{{'LAST_NAME' | translate}} *" errors="[{adminLastName: [{required: 'LAST_NAME_MANDATORY'}]}]"
                                                                                     validate="ruCtrl.submittedBasic">
                        <input name="adminLastName" type="text" class="form-control" ng-model="ruCtrl.userAccount.lastName"
                         ng-required="ruCtrl.userAccount.authorities == 'ROLE_ADMIN'">
                      </em-form-input-group>

                      <em-form-input-group title="{{'EMAIL' | translate}} *" errors="[{adminEmail: [{required: 'EMAIL_MANDATORY'},
                                                                                        {maxlength: 'EMAIL_LENGTH_ERROR'},
                                                                                        {pattern: 'EMAIL_PATTERN_ERROR'}]}]"
                                                                                        validate="ruCtrl.submittedBasic">
                        <input name="adminEmail" type="text" class="form-control" ng-model="ruCtrl.userAccount.email" 
                        ng-required="ruCtrl.userAccount.authorities == 'ROLE_ADMIN'" ng-maxlength="100" ng-pattern="patterns.email">
                      </em-form-input-group>
                    </div>


                    <div ng-show= "ruCtrl.userAccount.authorities == 'ROLE_INSTITUTION_ADMIN'">

                      <em-form-input-group title="{{'INSTITUTION' | translate}} *" validate="ruCtrl.submittedBasic">
                        <select name="institution" ng-model="ruCtrl.userAccount.institutionId" class="col-sm-12" ui-select2="select2Options">
                           <option ng-repeat="ins in ruCtrl.institutions" value="{{ins.id}}">{{ins.name}}</option>
                           <option value="">{{'SELECT_INSTITUTION' | translate}}</option>
                        </select>
                      </em-form-input-group>


                       <em-form-input-group title="{{'PERSON' | translate}} *" validate="ruCtrl.submittedBasic">
                          <em-person-search-registration name="personSearch" id="personSearch" value="search.value" placeholder=" "
                            on-select="ruCtrl.selectPerson(person)" prepare-tokens message="search.message">
                          </em-person-search-registration>
                       </em-form-input-group>

                        <em-form-input-group title="{{'FIRST_NAME' | translate}} *" errors="[{firstName: [{required: 'FIRST_NAME_MANDATORY'}]}]"
                                                                                       validate="ruCtrl.submittedBasic">
                          <input name="firstName" type="text" class="form-control" ng-model="ruCtrl.userAccount.firstName" 
                          ng-required="ruCtrl.userAccount.authorities == 'ROLE_INSTITUTION_ADMIN'" disabled>
                        </em-form-input-group>

                        <em-form-input-group title="{{'LAST_NAME' | translate}} *" errors="[{lastName: [{required: 'LAST_NAME_MANDATORY'}]}]"
                                                                                       validate="ruCtrl.submittedBasic">
                          <input name="lastName" type="text" class="form-control" ng-model="ruCtrl.userAccount.lastName"
                          ng-required="ruCtrl.userAccount.authorities == 'ROLE_INSTITUTION_ADMIN'" disabled>
                        </em-form-input-group>

                        <em-form-input-group title="{{'EMAIL' | translate}} *" errors="[{email: [{required: 'EMAIL_MANDATORY'},
                                                                                          {maxlength: 'EMAIL_LENGTH_ERROR'},
                                                                                          {pattern: 'EMAIL_PATTERN_ERROR'}]}]"
                                                                                          validate="ruCtrl.submittedBasic">
                          <input name="email" type="text" class="form-control" ng-model="ruCtrl.userAccount.email" 
                          ng-required="ruCtrl.userAccount.authorities == 'ROLE_INSTITUTION_ADMIN'" ng-maxlength="100" ng-pattern="patterns.email">
                        </em-form-input-group>

                    </div>


                    

                     <div class="form-group">
                      <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
                      <div class="col-sm-4">
                        <div class="pull-right">
                          <button ng-click="ruCtrl.reset(userForm)" class="btn btn-lg btn-brown" ><i class="fa fa-times"></i> {{'CANCEL' | translate}}</button>
                          <button ng-click="ruCtrl.register(userForm)" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check"></i> {{'SAVE' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </ng-form>
               </div>
            </div>
         </div>
         <!--end panel-->
      </div>
      <!--end col-->
   </div>
   <!--end row-->
</div>
<span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="loadingCounter<3"></span>
</div>
