<em-breadcrumb></em-breadcrumb>

<div class="container col-sm-12" ng-controller="MinisUserListController as ctrl">
  <div class="row" ng-hide="ctrl.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row form-group">
              <a ui-sref="registerUser" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'REGISTER_USER' | translate}}
              </a>
            </div>

            <div class="row form-group">
              <em-user-search search-fields="ctrl.userSearchFields" name="userSearch" id="userSearch" value="search.value" placeholder="{{'SEARCH_FOR_USERS' | translate}}"
                    prepare-tokens on-select="ctrl.selectUser(user)"  message="search.message">
              </em-user-search>
            </div>

            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('firstName')">{{'FIRST_NAME' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'firstName' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'firstName' && ctrl.sortOrder == 'desc'"></i>
                  </th>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('lastName')">{{'LAST_NAME' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'lastName' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'lastName' && ctrl.sortOrder == 'desc'"></i>
                  </th>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('login')">{{'USERNAME' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'login' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'login' && ctrl.sortOrder == 'desc'"></i>
                  </th>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('authorities')">{{'ROLE' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'authorities' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'authorities' && ctrl.sortOrder == 'desc'"></i>
                    
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in ctrl.users" ng-click="ctrl.edit(user.id)" role="button">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.login }}</td>
                  <td>
                    <span ng-repeat="role in user.authorities">
                      <span ng-if="$first">{{ role | translate }}</span>
                      <span ng-if="!$first">, {{ role | translate }}</span>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <h4 ng-hide="ctrl.users.length">
                      <em class="text-info">{{'NO_USERS' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrl.getList()" total-items="ctrl.itemCount"
                                    items-per-page="ctrl.itemsPerPage" ng-model="ctrl.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrl.loadingIsActive"></span>
</div>
