<div class="form-group" ng-class="{'has-error': hasAnyErrors()}">
  <div class="col-print-{{offset}}" ng-if="offset">&nbsp;</div>
  <label class="col-sm-offset-{{offset}} col-sm-{{labelWidth}} col-print-3 control-label">{{title}}</label>
  <div class="col-sm-{{width - 3}} col-print-{{width - 3}}">
    <div ng-transclude></div>
    <span ng-repeat="v in validations" class="help-block" ng-show="hasError(v)" ng-bind-html="v.message"></span>
  </div>
</div>