<div class="form-group">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="value" placeholder="{{placeholder || 'Pretraži '}}"
             typeahead="institution as institution.name for institution in search($viewValue)"
             typeahead-loading="loading" typeahead-editable="false" typeahead-wait-ms="delay"
             typeahead-on-select="select()" ng-change="reset()"
             typeahead-template-url="{{ customTemplate }}">
    <div class="input-group-addon">
      <i class="fa" ng-class="loading ? 'fa-refresh fa-spin' : 'fa-search'"></i>
    </div>
    </div>
  </div>
  <div class="col-sm-12">
    <span class="help-block" ng-show="message">{{ message }}</span>
  </div>
</div>
