<div class="form-group">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="value" placeholder="{{placeholder || 'Pretraži '}}"
             typeahead="person as (person.firstName+' '+person.lastName+' ('+person.dateOfBirth+')') for person in search($viewValue)"
             typeahead-loading="loading" typeahead-editable="false" typeahead-wait-ms="delay"
             typeahead-on-select="select()" ng-change="reset()"
             typeahead-template-url="{{ customTemplate }}">
    <div class="input-group-addon">
      <i class="fa" ng-class="loading ? 'fa-refresh fa-spin' : 'fa-search'"></i>
    </div>
    </div>
  </div>
  <div class="col-sm-12" ng-show="usrform">
    <div ng-form="statusForm" class="form-group col-sm-12" style="margin-top: 5px;">
      <div class="col-sm-6">
        <em-form-input-group type="basic" errors="[{firstName: [{required: 'FIRST_NAME_MANDATORY'}]}]" validate="submittedBasic">
          <input name="firstName" ng-model="newPerson.firstName" type="text" placeholder="{{'FIRST_NAME' | translate}}" class="form-control" ng-required="usrform">
        </em-form-input-group>
      </div>
      <div class="col-sm-6">
        <em-form-input-group type="basic" errors="[{lastName: [{required: 'LAST_NAME_MANDATORY'}]}]"  validate="submittedBasic">
          <input name="lastName" ng-model="newPerson.lastName" type="text" placeholder="{{'LAST_NAME' | translate}}" class="form-control col-sm-3" ng-required="usrform">
        </em-form-input-group>
      </div>
      <div class="col-sm-6">
        <em-form-input-group type="basic" errors="[{jmbg: [{required: 'JMBG_MANDATORY'}]}]" validate="submittedBasic">
          <input name="jmbg" ng-model="newPerson.jmbg" type="text" placeholder="{{'JMBG' | translate}}" class="form-control col-sm-3">
        </em-form-input-group>
      </div>
      <div class="col-sm-6">
        <em-form-input-group type="basic" errors="[{email: [{required: 'EMAIL_MANDATORY'}]}]" validate="submittedBasic">
          <input name="email" ng-model="newPerson.email" type="email" placeholder="{{'EMAIL' | translate}}" class="form-control col-sm-3" ng-required="usrform">
        </em-form-input-group>
      </div>
      <div class="col-sm-6">
        <em-form-input-group type="basic" errors="[{phones: [{required: 'TELEPHONE_MANDATORY'}]}]" validate="submittedBasic">
          <input name="phones" ng-model="newPerson.phones" type="text" placeholder="{{'TELEPHONE' | translate}}" class="form-control col-sm-3" ng-required="usrform">
        </em-form-input-group>
      </div>
        
      <div class="col-sm-1">
          <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                  ng-click="savePerson(statusForm)">
            <i class="fa fa-check"></i>
          </button>
      </div>
          
     </div>
  </div>
</div>
