<li ui-sref-active="active" class="treeview">
  <a href ui-sref="{{ navCtrl.state.name }}" ng-click="navCtrl.intercept($event)">
    <i ng-class="icon"></i><span>{{ title }}</span><i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul ng-transclude class="treeview-menu"></ul>
</li>
