<li ui-sref-active="active">
  <a href ui-sref="{{ navCtrl.state.name }}" ng-click="navCtrl.intercept($event)">
    <i ng-if="icon" ng-class="icon"></i><span>{{title}}</span>
  </a>
  <div ng-transclude></div>
</li>
