<em-breadcrumb></em-breadcrumb>

<div class="container col-sm-12" ng-controller="ResearchAreaController as ctrl">
  <div class="row" ng-hide="ctrl.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrl.addArea()" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_RESEARCH_AREA' | translate}} 
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-md-6 col-sm-6">{{'NAME' | translate}}</div>
                    <div class="col-md-6 col-sm-6">{{'DESCRIPTION' | translate}}</div> 
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="area in ctrl.researchArea" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!area._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrl.editArea(area)">
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrl.editArea(area)">
                            {{area.name || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrl.editArea(area)">
                            {{area.description || ('EMPTY' | translate)}}
                          </a>
                        </div>
                      </div>
                      <div ng-if="area._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-5">
                            <em-form-input-group type="basic" validate="area._submitted"
                              errors="[{typeName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="typeName" ng-model="area.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-4">
                            <em-form-input-group type="basic" validate="area._submitted"
                            errors="[{typeDescription: [{required: 'Morate uneti opis.'}]}]">
                              <input name="typeDescription" ng-model="area.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-3 text-right">
                              <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                      ng-click="ctrl.saveArea(area, entryForm)">
                                <i class="fa fa-check"></i>
                              </button>
                              <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                      ng-click="ctrl.cancel(area, $index)">
                                <i class="fa fa-times"></i>
                              </button>
                            </div>
                          </div>
                        </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrl.researchArea.length">
                      <em class="text-info">{{'NO_RESEARCH_AREAS' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrl.getList()" total-items="ctrl.itemCount"
                                    items-per-page="ctrl.itemsPerPage" ng-model="ctrl.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrl.loadingIsActive"></span>
</div>
