<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.newPassword.title}">JHipster newPassword password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.newPassword.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.newPassword.text1}">
            For your JHipster account a reset password was requested. Your new password is: 
        </p><span th:text="${password}">T:</span>
        <p>
            <span th:text="#{email.newPassword.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>