<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Korisnički nalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
    Poštovana/i,
    </p>
    <p>
      Kao <b>Odgovorno lice</b> zaduženo za ažuriranje podataka o Vašoj instituciji i istraživačima obaveštavamo 
      Vas da možete koristi aplikaciju za ažuriranje podataka o institucijama na adresi  <a th:href="@{|${baseUrl}|}" th:text="${baseUrl}"></a> sa sledećim nalogom: <br/>
      Korisničko ime: <span th:text="${user.login}"></span> <br/>
      Lozinka: <span th:text="${password}"></span>
    </p>
    <p>
      Molimo Vas da iz bezbednosnih razloga odmah posle prijave na sistem promenite lozinku.
    </p>
    <p>
      <b>Važna napomena:</b> Molimo Vas da se u toku unosa podataka obavezno pridržavate preporuka datim u sledećem Prilogu.
    </p>
    <h3 style="margin-bottom: 0px">PRILOG</h3>
    <p style="margin-top: 0px">
      Uputstvo za korišcenje aplikacije dostupno je na navedenoj adresi aplikacije.
    </p>
    <p style="margin-bottom: 0px">
      Postojeći podaci u Ministarstvu o institucijama i istraživačima prepisani su u ovu aplikaciju. Vaš zadatak je  verifikacija i kompletiranje prepisanih podataka o institucijama i istraživačima kao i unos podataka za sve ostale istraživače angažovane na instituciji. Posebno Vam skrećemo pažnju na sledeće:
    </p>
    <ul style="margin: 0px">
      <li>
        Pri verifikaciji prepisanih istraživača obavezno unesite tražene podatke i za istraživače koji su otišli u penziju ili napustili vašu instituciju.
      </li>
      <li>
        U ovoj prvoj fazi sređivanja podataka za svakog istraživača su obavezni samo podaci: <i>Ime</i>, <i>Prezime</i>, <i>JMBG</i>, <i>Status istraživača</i> i poslednje važeće <i>Zvanje</i>. Ovo je veoma važno zato što su ovi podaci potrebni za prijavu na novi ciklus naučnih projekata koji će Ministarstvo uskoro raspisati. Drugim rečima, ovo je posao koji treba što pre uraditi zato što istraživač bez ovih podataka ne može biti angažovan na novim projektima.
      </li>
      <li>
        Preko opcije <i>Funkcija</i> obavezno unesite podatke za rukovodioca institucije i osobu zaduženu za naučno istraživačku delatnost (na primer: dekan i prodekan za nauku;  rektor i prorektor za nauku; direktor instituta i osoba zadužena za naučnu delatnost; i slično).
      </li>
    </ul>
    <p>
      Proverite, i po potrebi ispravite sve podatke o vašoj instituciji. Posebno obratite pažnju na podatke o trenutnim rukovodiocima vaše institucije (njima će se slati službene informacije od strane ministarstva i njihova imena će biti unošena u ugovore o naučnim projektima).
    </p>
    <p>
      Napominjemo još da je osnovno pismo za verifikaciju, unos i izmenu podataka u ćiriličnom pismu. Podaci koji su izvorno na latinici kao što je veb adresa, elektronska pošta i slično unose se u tom pismu.
    </p>
    <p>
      Iako je ovo prva verzija aplikacije, nadamo se da neće imati previše nedostataka i da ćemo ih zajednički lako i brzo popraviti. Zato Vas molimo da ukoliko uočite neki propust, imate neku molbu, žalbu ili bilo kakav komentar da nam pošaljete na e-mail: <a th:href="@{|mailto:${mailFrom}|}" th:text="${mailFrom}"></a>
    </p>
    <p>
      S poštovanjem,
    </p>
    <p>
      Za Ministarstvo i Razvojni tim aplikacije
    </p>
  </body>
</html>
