<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zaboravljena lozinka</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Poštovana/i,
        </p>
        <p>
            Kliknite <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">ovde</a> 
             i dobićete dijalog (korisnički interfejs) za promenu lozinke.
        </p>
        <p>
            <span>S poštovanjem, </span>
            <br/>
            <em>minis Team</em>
        </p>
    </body>
</html>
