<em-breadcrumb></em-breadcrumb>
<div style="margin-left: 50px; color: gray;">
  <br/>
  <h5><b>{{tabsTitle}}</b></h5>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-10" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form name="Register" novalidate class="form-horizontal row-border">

            <em-form-input-group title="{{'PIB' | translate}} *" errors="[{pib: [{required: 'PIB_MANDATORY'},
                                 {pattern: 'PIB_FORMAT_ERROR'}]}]"
            validate="submittedRegister">
              <input name="pib" type="text" class="form-control" ng-model="data.pib" ng-pattern="patterns.integer" required>
            </em-form-input-group>

            <em-form-input-group title="{{'IDENTIFICATION_NUMBER' | translate}} *" errors="[{maticniBroj: [{required: 'IDENTIFICATION_NUMBER_MANDATORY'},
                                 {pattern: 'ID_PATTERN_ERROR'}]}]"
             validate="submittedRegister">
              <input name="maticniBroj" type="text" class="form-control" ng-pattern="patterns.integer" ng-model="data.maticniBroj" required>
            </em-form-input-group>

            <em-form-input-group title="{{'LAST_SCIENTIFIC_ACREDITATION_NUMBER' | translate}} *" errors="[{
              accreditationNumber: [
                {required: 'LAST_SCIENTIFIC_ACREDITATION_NUMBER_MANDATORY'},
              ]
            }]" validate="submittedRegister">
              <input name="accreditationNumber" type="text" class="form-control" ng-model="data.accreditationNumber"
                     required >
            </em-form-input-group>

            <em-form-input-group title="{{'LAST_SCIENTIFIC_ACREDITATION_DATE' | translate}} *" errors="[{
              accreditationDate: [
                {required: 'LAST_SCIENTIFIC_ACREDITATION_DATE_MANDATORY'} ]
            }]"  validate="submittedRegister">
             <em-date-time-picker name="accreditationDate" ng-class="{'has-error': data.errorMessage}" 
             ng-required="true" ng-model="data.accreditationDate" ></em-date-time-picker>
            </em-form-input-group>

            <em-form-input-group title="{{'ACCREDITATION_NOTE' | translate}} *" errors="[{
              accreditationNote: [
                {required: 'ACCREDITATION_NOTE_MANDATORY'} ]
            }]"  validate="submittedRegister">
              <input name="accreditationNote" type="text" class="form-control" ng-model="data.accreditationNote" required>
            </em-form-input-group>

            <em-form-input-group title="{{'REGISTER_NOTE' | translate}}" >
              <input name="note" type="text" class="form-control" ng-model="data.note">
            </em-form-input-group>

            <em-form-input-group title="{{'INSTITUTION_TYPE' | translate}} *" errors="[{institutionType: [{required: 'SELECT_INSTITUTION_TYPE_MANDATORY'}]}]"
             validate="submittedRegister">
             <select name="institutionType" ng-model="data.type" class="form-control"
                    ng-options="type.id as type.name for (key, type) in addctrl.institutionTypes" required>
              </select>
            </em-form-input-group>
            <div class="row">
            <div ng-if="data.type === -1" ng-form="typeForm" class="col-sm-6 col-sm-offset-3" style="margin-bottom: 10px;">
              <div class="col-sm-5">
                <em-form-input-group type="basic" validate="addctrl.type._submitted">
                  <input name="typeName" ng-model="addctrl.type.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" required>
                </em-form-input-group>
              </div>
              <div class="col-sm-4">
                <em-form-input-group type="basic" validate="addctrl.type._submitted">
                  <input name="typeName" ng-model="addctrl.type.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5">
                </em-form-input-group>
              </div>                     
              <div class="col-sm-3 text-right">
                  <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                          ng-click="addctrl.saveType(addctrl.type, typeForm)">
                    <i class="fa fa-check"></i>
                  </button>
              </div>
            </div>
            </div>

            <em-form-input-group title="{{'INSTITUTION_ACTIVITIES' | translate}}" >
             <select style="width: 440px;" ui-select2="select2Options" multiple ng-model="data.activities"
               placeholder="{{'SELECT_INSTITUTUON_ACTIVITIES' | translate}}" ng-disabled="!isAdmin">
                  <option ng-repeat="area in addctrl.activitys" value="{{area}}">{{area.name}}</option>
              </select>
            </em-form-input-group>

            <em-form-input-group title="{{'FOUNDER' | translate}}" >
              <input name="founder" type="text" class="form-control" ng-model="data.founder">
            </em-form-input-group>
            <em-form-input-group title="{{'FOUNDATION_DATE' | translate}}">
             <em-date-time-picker name="date" ng-class="{'has-error': data.errorMessage}" 
              ng-model="data.date" ></em-date-time-picker>
            </em-form-input-group>
            <em-form-input-group title="{{'FOUNDATION_NUMBER' | translate}}" >
              <input name="rescriptNumber" type="text" class="form-control" ng-model="data.rescriptNumber">
            </em-form-input-group>

            <em-form-input-group title="{{'OWNERSHIP_STRUCTURE' | translate}} *" errors="[{ownershipStructure: [{required: 'SELECT_OWNERSHIP_STRUCTURE_MANDATORY'}]}]"
             validate="submittedRegister">
             <select name="ownershipStructure" ng-model="data.ownershipStructure" class="form-control"
                    ng-options="ownershipStructure.id as ownershipStructure.name for ownershipStructure in addctrl.ownershipStructures" required>
              </select>
            </em-form-input-group>

            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="reset(Register)" class="btn btn-lg btn-brown" ><i class="fa fa-times"></i> {{'CANCEL' | translate}}</button>
                  <button ng-click="addctrl.saveInstitution(Register)" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check"></i> {{'SAVE' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
