<em-breadcrumb></em-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col-md-10" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form name="Basic" novalidate class="form-horizontal row-border">

            <em-form-input-group title="{{'INSTITUTION_NAME' | translate}} *" errors="[{name: [{required: 'NAME_MANDATORY'}]}]" validate="submittedBasic">
              <input name="name" type="text" class="form-control" ng-model="data.name" required>
            </em-form-input-group>

            <em-form-input-group title="{{'INSTITUTION_NAME_ENG' | translate}} *" validate="submittedBasic">
              <input name="eng_name" type="text" class="form-control" ng-model="data.nameEn">
            </em-form-input-group>

            <em-form-input-group title="{{'STATE' | translate}} *" errors="[{state: [{required: 'STATE_SELECT_MANDATORY'}]}]"
             validate="submittedBasic">
              <select name="state" ng-model="data.state" class="form-control"
                    ng-options="state.id as state.name for (key, state) in addctrl.states" required>
              </select>
            </em-form-input-group>

            <div class = "row">
              <div ng-if="data.state === -1" ng-form="stateForm" class="col-sm-6 col-sm-offset-3" style="margin-bottom: 10px;">
                <div class="col-sm-5">
                  <em-form-input-group type="basic" validate="addctrl.state._submitted">
                    <input name="stateName" ng-model="addctrl.state.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" ng-required="data.state === -1">
                  </em-form-input-group>
                </div>
                <div class="col-sm-4">
                  <em-form-input-group type="basic" validate="addctrl.state._submitted">
                    <input name="stateDescription" ng-model="addctrl.state.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5">
                  </em-form-input-group>
                </div>                     
                <div class="col-sm-3 text-right">
                    <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                            ng-click="addctrl.saveState(addctrl.state, stateForm)">
                      <i class="fa fa-check"></i>
                    </button>
                </div>
              </div>
            </div>

            <em-form-input-group title="{{'CITY' | translate}} *" errors="[{place: [{required: 'CITY_MANDATORY'}]}]"
             validate="submittedBasic" ng-show="!addctrl.states[data.state].citiesRegistered">
              <input name="place" type="text" class="form-control" ng-model="data.place" ng-required="!addctrl.states[data.state].citiesRegistered">
            </em-form-input-group>

            <em-form-input-group title="{{'CITY' | translate}} *" errors="[{city: [{required: 'CITY_SELECT_MANDATORY'}]}]"
             validate="submittedBasic" ng-show="addctrl.states[data.state].citiesRegistered">
              <select name="city" ng-model="data.city" class="form-control"
                    ng-options="city.id as (city.zipCode+' - '+city.name) for (key, city) in addctrl.cities" ng-required="addctrl.states[data.state].citiesRegistered">
              </select>
            </em-form-input-group>

            <div class = "row" ng-if="addctrl.states[data.state].citiesRegistered">
              <div ng-if="data.city === -1" ng-form="cityForm" class="col-sm-6 col-sm-offset-3" style="margin-bottom: 10px;">
                <div class="col-sm-4">
                  <em-form-input-group type="basic" validate="addctrl.city._submitted">
                    <input name="cityName" ng-model="addctrl.city.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" >
                  </em-form-input-group>
                </div>
                <div class="col-sm-3">
                  <em-form-input-group type="basic" validate="addctrl.city._submitted">
                    <input name="cityZipCode" ng-model="addctrl.city.zipCode" type="text" placeholder="{{'ZIP_CODE' | translate}}" class="form-control col-sm-5" >
                  </em-form-input-group>
                </div>
                <div class="col-sm-3">
                  <em-form-input-group type="basic" validate="addctrl.city._submitted">
                    <input name="cityDescription" ng-model="addctrl.city.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5" >
                  </em-form-input-group>
                </div>                    
                <div class="col-sm-2 text-right">
                    <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                            ng-click="addctrl.saveCity(addctrl.city, cityForm)">
                      <i class="fa fa-check"></i>
                    </button>
                </div>
              </div>
            </div>

            <em-form-input-group title="{{'TOWNSHIP' | translate}} " errors="[{townShipText: [{required: 'TOWNSHIP_MANDATORY'}]}]"
             validate="submittedBasic" ng-if="!addctrl.states[data.state].citiesRegistered">
              <input name="townShipText" type="text" class="form-control" ng-model="data.townShipText" >
            </em-form-input-group>

            <em-form-input-group title="{{'TOWNSHIP' | translate}} " errors="[{townShip: [{required: 'TOWNSHIP_SELECT_MANDATORY'}]}]"
             validate="submittedBasic" ng-if="addctrl.states[data.state].citiesRegistered">
              <select name="townShip" ng-model="data.townShip" class="form-control"
                    ng-options="townShip.id as townShip.name for (key, townShip) in addctrl.townShips">
              </select>
            </em-form-input-group>

            <div class = "row" ng-if="addctrl.states[data.state].citiesRegistered">
              <div ng-if="data.townShip === -1" ng-form="townShipForm" class="col-sm-6 col-sm-offset-3" style="margin-bottom: 10px;">
                <div class="col-sm-5">
                  <em-form-input-group type="basic" validate="addctrl.townShip._submitted">
                    <input name="townShipName" ng-model="addctrl.townShip.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" >
                  </em-form-input-group>
                </div>
                
                <div class="col-sm-4">
                  <em-form-input-group type="basic" validate="addctrl.townShip._submitted">
                    <input name="townShipDescription" ng-model="addctrl.townShip.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5" >
                  </em-form-input-group>
                </div>                    
                <div class="col-sm-3 text-right">
                    <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                            ng-click="addctrl.saveTownShip(addctrl.townShip, townShipForm)">
                      <i class="fa fa-check"></i>
                    </button>
                </div>
              </div>
            </div>


            <em-form-input-group title="{{'STREET_AND_NUMBER' | translate}} *" errors="[{address: [{required: 'ADDRESS_MANDATORY'}]}]"  validate="submittedBasic">
              <input name="address" type="text" class="form-control" ng-model="data.address" required>
            </em-form-input-group>

            <em-form-input-group title="{{'WEB_ADDRESS' | translate}} *" errors="[{uri: [{required: 'WEB_ADDRESS_MANDATORY'}]}]"
             validate="submittedBasic">
              <input name="uri" type="text" class="form-control" ng-model="data.uri" required>
            </em-form-input-group>

            <em-form-input-group title="{{'EMAIL' | translate}} *" errors="[{email: [{required: 'EMAIL_MANDATORY'}]}]"  validate="submittedBasic"
            validate="submittedBasic">
              <input name="email" type="email" class="form-control" ng-model="data.email" ng-pattern="" required >
            </em-form-input-group>

            <em-form-input-group title="{{'TELEPHONE' | translate}} *" errors="[{phone: [{required: 'TELEPHONE_MANDATORY'}]}]"
            validate="submittedBasic">
              <input name="phone" type="text" class="form-control" ng-model="data.phone" required>
            </em-form-input-group>

            <em-form-input-group title="{{'SHORT_NAME' | translate}}">
              <input name="acro" type="text" class="form-control" ng-model="data.acro">
            </em-form-input-group>

            <em-form-input-group title="{{'SUPER_INSTITUTION' | translate}} " errors="[{supetInstitution: [{required: 'SUPER_INSTITUTION_MANDATORY'}]}]" validate="submittedBasic">
              <select name="supetInstitution" ng-model="data.supetInstitution" class="col-sm-12" ui-select2="select2Options">
                <option ng-repeat="supetInstitution in addctrl.supetInstitutions"
                  value="{{supetInstitution.id}}">{{supetInstitution.name}}</option>
                <option value="">{{'SELECT_SUPER_INSTITUTION' | translate}}</option>
              </select>
            </em-form-input-group>

            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-disabled="loadingCounter<10" ng-click="reset(Basic)" class="btn btn-lg btn-brown" >
                    <i class="fa fa-times"></i> {{'CANCEL' | translate}}
                  </button>
                  <button ng-disabled="loadingCounter<10" ng-click="addctrl.saveInstitution(Basic)" class="btn btn-lg btn-success" name="btnSave">
                    <i class="fa fa-check"></i> {{'SAVE' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
<span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="loadingCounter<10"></span>
