<em-breadcrumb></em-breadcrumb>
<div style="margin-left: 50px; color: gray;">
  <br/>
  <h5><b>{{tabsTitle}}</b></h5>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form name="Project" novalidate class="form-horizontal row-border">

            <em-form-input-group title="{{'ACCOUNT_NUMBER' | translate}} *" errors="[{account: [{required: 'ACCOUNT_NUMBER_MANDATORY'},
                                 {pattern: 'Broj računa mora biti u formatu XXX-XXXXXXXXXXXXX-XX.'}]}]" validate="submittedProject">
              <input name="account" type="text" class="form-control" ng-model="data.account" placeholder="000-0000000000000-00" ng-pattern="patterns.bankAccountNumber" required>
            </em-form-input-group>

            <em-form-input-group title="{{'ID_NUMBER_IN_MINISTRY' | translate}}">
              <input name="mntrID" type="text" class="form-control" ng-model="data.mntrID" ng-disabled="!isAdmin">
            </em-form-input-group>

            <em-form-input-group title="{{'INTERNATIONAL_ID_NUMBER' | translate}}">
              <input name="orcid" type="text" class="form-control" ng-model="data.orcid" >
            </em-form-input-group>

            <em-form-input-group title="{{'INSTITUTION_STATUS' | translate}} *" errors="[{institutionStatus: [{required: 'SELECT_INSTITUTION_STATUS_MANDATORY'}]}]" validate="submittedProject">
             <select name="institutionStatus" ng-model="data.institutionStatus" class="form-control"
                    ng-options="status.id as status.name for (key, status) in addctrl.institutionStatus" required>
              </select>
            </em-form-input-group>
            <div ng-if="data.institutionStatus === -1" ng-form="statusForm" class="form-group col-sm-12">
              <div class="col-sm-6 col-sm-offset-3"> 
                <div class="col-sm-5">
                  <em-form-input-group type="basic" validate="addctrl.status._submitted">
                    <input name="statusName" ng-model="addctrl.status.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" required>
                  </em-form-input-group>
                </div>
                <div class="col-sm-4">
                  <em-form-input-group type="basic" validate="addctrl.status._submitted">
                    <input name="statusDescription" ng-model="addctrl.status.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5">
                  </em-form-input-group>
                </div>                        
                <div class="col-sm-3 text-right">
                    <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                            ng-click="addctrl.saveStatus(addctrl.status, statusForm)">
                      <i class="fa fa-check"></i>
                    </button>
                  </div>
               </div>   
             </div>

            <em-form-input-group title="{{'RESEARCH_AREA' | translate}}" >
             <select style="width: 400px;" ui-select2="select2Options" multiple ng-model="data.researchAreas"
               data-placeholder="{{'SELECT_RESEARCH_AREAS' | translate}}" ng-disabled="!isAdmin">
                  <option ng-repeat="area in addctrl.researchArea" value="{{area}}">{{area.name}}</option>
              </select>
            </em-form-input-group>           


            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="reset(Project)" class="btn btn-lg btn-brown" ><i class="fa fa-times"></i> {{'CANCEL' | translate}}</button>
                  <button ng-click="addctrl.saveInstitution(Project)" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check"></i> {{'SAVE' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
