<em-breadcrumb></em-breadcrumb>

<div class="container col-sm-12" ng-controller="InstitutionsController as ctrl">
  <div class="row" ng-hide="ctrl.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row form-group">
              <a ui-sref="addInstitution" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_INSTITUTION' | translate}}
              </a>
            </div>
            <div class="row form-group">
              <em-institution-search name="institutionSearch" id="institutionSearch" value="search.value" placeholder="{{'INSTITUTION_SEARCH' | translate}}"
                    prepare-tokens on-select="ctrl.selectInstitution(institution)"  message="search.message">
              </em-institution-search>
            </div>
            <div>
              <form name="record_status">
                <div class="col-sm-12">
                  <em-form-input-group width="12" type="horizontal" title="{{'MIGRATED_DATA' | translate}}">
                    <input  name="migrated" type="checkbox" ng-model="ctrl.migrated" ng-change="ctrl.check('migrated')">
                  </em-form-input-group>
                </div>
                <div class="col-sm-12">
                  <em-form-input-group width="12" type="horizontal"  title="{{'VERIFIED_MIGRATED_DATA' | translate}}">
                    <input  name="changed" type="checkbox" ng-model="ctrl.changed" ng-change="ctrl.check('changed')">                    
                  </em-form-input-group>
                </div>
                <div class="col-sm-12" ng-hide="true"><!--skriveno za sad -->
                  <em-form-input-group width="12" type="horizontal" title="{{'VERIFIED_BY_MINISTRY'}}">
                    <input  name="approved" type="checkbox" ng-model="ctrl.approved" ng-change="ctrl.check('approved')">
                  </em-form-input-group>
                </div>
              </form>
            </div>
            <div></div>
            <div role="button" class="pull-right" ng-click="ctrl.exportExcel()">
              {{'EXPORT_EXCEL' | translate}} <span> <i style="color: green;" class="fa fa-file-excel-o"></i></span>
            </div>
            <table class="table table-condensed table-striped table-hover mb0" ng-hide="ctrl.loadingIsActive">
              <thead>
                <tr>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('name')">{{'INSTITUTION_NAME' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'name' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'name' && ctrl.sortOrder == 'desc'"></i>
                  </th>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('city.name')">{{'CITY' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'city.name' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'city.name' && ctrl.sortOrder == 'desc'"></i>

                  </th>
                  <th>
                    <span role="button" ng-click="ctrl.changeOrder('uri')">{{'OFFICIAL_INTERNET_ADDRESS' | translate}}</span>
                    <i class="fa fa-caret-up" ng-if="ctrl.sortCriteria == 'uri' && ctrl.sortOrder == 'asc'"></i>
                    <i class="fa fa-caret-down" ng-if="ctrl.sortCriteria == 'uri' && ctrl.sortOrder == 'desc'"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="institution in ctrl.institutions" ng-click="ctrl.edit(institution.id)" role="button">
                  <td>{{ institution.name}}</td>
                  <td ng-if="institution.place">{{ institution.place}}</td>
                  <td ng-if="!institution.place">{{ institution.city.name}}</td>
                  <td>{{ institution.uri}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrl.institutions.length">
                      <em class="text-info">{{'NO_INSTITUTIONS' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrl.getList()" total-items="ctrl.itemCount"
                                    items-per-page="ctrl.itemsPerPage" ng-model="ctrl.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrl.loadingIsActive"></span>
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrl.loadingIsActiveDownload"></span>
</div>
