<div class="container col-sm-12" ng-controller="AddInstitutionsController as addctrl">
  <div class="row" ng-hide="loadingCounter<10">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <tabset>
                <tab>
                  <tab-heading class="text-uppercase">{{'BASIC_DATA' | translate}}</tab-heading>
                  <ng-include src="'src/institutions/add-institutions-basic.view.html'"></ng-include>
                </tab>
                <tab disable="!institutionId">
                  <tab-heading class="text-uppercase">{{'DATA_FOR_REGISTER' | translate}}</tab-heading>
                  <ng-include src="'src/institutions/add-institutions-register.view.html'"></ng-include>
                </tab>
                <tab disable="!institutionId">
                  <tab-heading class="text-uppercase">{{'DATA_FOR_PROJECTS' | translate}}</tab-heading>
                  <ng-include src="'src/institutions/add-institutions-project.view.html'"></ng-include>
                </tab>
                <tab disable="!institutionId" ng-show="isAdmin">
                  <tab-heading class="text-uppercase">{{'PERSONS' | translate}}</tab-heading>
                  <ng-include src="'src/institutions/persons.view.html'"></ng-include>
                </tab>
            </tabset>

          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="loadingCounter<10"></span>
</div>