<em-breadcrumb></em-breadcrumb>
<div style="margin-left: 50px; color: gray;">
  <br/>
  <h5><b>{{tabsTitle}}</b></h5>
</div>
<div class="container col-md-12">
  <div class="row">
    <div class="col-md-12" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form ng-show="showForm" name="Persons" novalidate class="form-horizontal row-border">

            <em-form-input-group title="{{'PERSON' | translate}} *" errors="[{                
                person: [{required: 'PERSON_SELECT_MANDATORY'} ]
              }]"  validate="submittedConnection"> 
                <!-- <select name="person" ng-model="connection.person" class="form-control"
                   ng-options="per.id as (per.firstName + ' ' + per.lastName) for per in addctrl.persons" required>
                   <option value="">Izaberite osobu</option>
                </select> -->
                <em-person-search name="personSearch" id="personSearch" value="search.value" placeholder="{{'PERSON_SEARCH' | translate}}"
                    on-select="addctrl.selectPerson(person)"  message="search.message">
              </em-person-search>
              <input type="hidden" name="person" ng-model="connection.person" required="true">
            </em-form-input-group>  

                         <em-form-input-group title="{{'POSITION' | translate}}" ng-show="activeData(connection, 'position')">
                <select ng-model="connection.position" class="form-control"
                   ng-options="per.id as per.name for per in addctrl.positions">
                   <option value="">{{'SELECT_POSITION' | translate}}</option>
                </select>
            </em-form-input-group>  

            <em-form-input-group title="{{'FUNCTION' | translate}}" ng-show="activeData(connection, 'function')">
                <select ng-model="connection.function" class="form-control"
                   ng-options="per.id as per.name for per in addctrl.functions">
                   <option value="">{{'SELECT_FUNCTION' | translate}}</option>
                </select>
            </em-form-input-group>

            <em-form-input-group title="{{'EMPLOYMENT_PERCENTAGE' | translate}}" ng-show="activeData(connection, 'employment')"
                errors="[{employmentPercentage: [{pattern: 'PERCENTAGE_PATTERN_ERROR'}]}]">
                <div class="input-group">
                  <input type="text" class="form-control" name="employmentPercentage" ng-model="connection.employmentPercentage" ng-pattern="patterns.percent">
                  <span class="input-group-addon">%</span>
                </div>
            </em-form-input-group>

            <em-form-input-group title="{{'MAX_MONTH_ENGAGEMENT' | translate}}" ng-show="activeData(connection, 'employment')">
                <select ng-model="connection.maxMonthEngagement" class="form-control" ng-disabled="isInstitutionAdmin"
                  ng-options="month for month in months">
                  <option value="">{{'SELECT_MAX_MONTH_ENGAGEMENT' | translate}}</option>
                </select>
            </em-form-input-group>       

            <em-form-input-group title="{{'FROM' | translate}} *" errors="[{                
                startDate: [{required: 'ENGAGEMENT_DATE_MANDATORY'} ]
              }]"  validate="submittedConnection">            
              <em-date-time-picker name="startDate" ng-class="{'has-error': data.errorMessage}" 
               ng-required="true" ng-model="connection.startDate" ></em-date-time-picker>
            </em-form-input-group>   
             <em-form-input-group title="{{'TO' | translate}}">            
              <em-date-time-picker name="endDate" ng-class="{'has-error': data.errorMessage}" 
                ng-model="connection.endDate" ></em-date-time-picker>
            </em-form-input-group>              
                   

            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3"></div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="addctrl.cancel(Persons)" class="btn btn-lg btn-brown" ><i class="fa fa-times"></i> {{'CANCEL' | translate}}</button>
                  <button ng-click="addctrl.savePersonConnection(Persons)" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check"></i> {{'HIRE' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-sm-12" ng-if="!showForm">
            <div class="row form-group">
              <button ng-click="addctrl.addConnection()" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'HIRE_PERSON' | translate}}
              </button>
            </div>
            
            </hr>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>{{'PERSON' | translate}}</th>
                  <th>{{'FUNCTION' | translate}} / {{'POSITION' | translate}}</th>
                  <th>{{'EMPLOYMENT_PERCENTAGE' | translate}}</th>
                  <th>{{'MAX_MONTH_ENGAGEMENT' | translate}}</th>
                  <th>{{'FROM' | translate}}</th>
                  <th>{{'TO' | translate}}</th>
                  <th>{{'DELETE' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="connection in addctrl.connectionsInstitutions">
                  <td ng-click="addctrl.editConnection(connection)" role="button">{{ connection.person.firstName}} {{ connection.person.lastName}}</td>
                  <td ng-click="addctrl.editConnection(connection)" role="button">{{connection.function.name || connection.position.name || ('N/A' | translate)}}</td>
                  <td ng-click="addctrl.editConnection(connection)" role="button">{{ (connection.employmentPercentage == null) ? ('N/A' | translate) : (connection.employmentPercentage + ' %')}}</td>
                  <td ng-click="addctrl.editConnection(connection)" role="button">{{ (connection.maxMonthEngagement == null) ? ('N/A' | translate) : connection.maxMonthEngagement}}</td>
                  <td ng-click="addctrl.editConnection(connection)" role="button">{{ connection.startDate | date:'dd/MM/yyyy'}}</td>
                  <td ng-click="addctrl.editConnection(connection)" role="button">{{ connection.endDate | date:'dd/MM/yyyy'}}</td>
                  <td><button class="btn btn-sm btn-danger" ng-click="addctrl.deleteConnection(connection.id)"><i class="glyphicon glyphicon-trash"></i></button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <h4 ng-hide="addctrl.connectionsInstitutions.length">
                      <em class="text-info">{{'NO_HIRED_PERSONS' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="addctrl.loadInstituionsConnections()" total-items="addctrl.itemCount"
                                    items-per-page="addctrl.itemsPerPage" ng-model="addctrl.currentPage"
                                     previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
