<div ng-show="serverError" class="panel panel-danger">
  <div class="panel-heading">
    <button ng-show="dismissable" type="button" class="close" 
    ng-click="serverError = false">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {{ title || 'Server Error' }}</h4>
  </div>
  <div class="panel-body text-danger" ng-transclude>
  </div>
</div>
