<div ng-show="errors" class="panel panel-danger">
  <div class="panel-heading">
    <button ng-show="dismissable" type="button" class="close" 
    ng-click="errors = false">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {{ errorTitle || 'Data Error' }}</h4>
  </div>
  <div class="panel-body text-danger">
    <ol>
      <li ng-repeat="error in errors track by $index">{{ error }}</li>
    </ol>
  </div>
</div>
<div ng-show="warnings" class="panel panel-warning">
  <div class="panel-heading">
    <button ng-show="dismissable" type="button" class="close" 
    ng-click="warnings = false">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ warningTitle || 'Data Warning' }}
  </div>
  <div class="panel-body text-warning">
    <h5>Warning Messages</h5>
    <ol>
      <li ng-repeat="warning in warnings track by $index">{{ warning }}</li>
    </ol>
  </div>
</div>
