<div ng-show="serverError" class="panel panel-danger">
  <div class="panel-heading">
    <button ng-show="dismissable" type="button" class="close" 
    ng-click="serverError = false">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {{ title || 'Server Error' }}</h4>
  </div>
  <div class="panel-body text-danger">
    <div ng-hide="serverError.data">
      <div class="row">
        <div class="col-sm-2"><b>Status Code:</b></div>
        <div class="col-sm-10">{{serverError.status}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2"><b>Status Text:</b></div>
        <div class="col-sm-10">{{serverError.statusText}}</div>
      </div>
      <div class="row" ng-show="serverError.incidentNumber">
        We have been notified of this problem, if you continue to have issues please contact
        us with the following incident id: <b>{{serverError.incidentNumber}}</b>.
      </div>
    </div>
    <div ng-show="serverError.data">
      <div class="row" ng-repeat="error in serverError.data track by $index">
      {{ error }}
      </div>
    </div>
  </div>
</div>
