<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="PositionController as ctrlpos">
  <div class="row" ng-hide="ctrlpos.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlpos.addPosition()" name="addPosition" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_POSITION' | translate}}
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-md-6 col-sm-6">{{'NAME' | translate}}</div>
                    <div class="col-md-6 col-sm-6">{{'DESCRIPTION' | translate}}</div>                     
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="position in ctrlpos.positions" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!position._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlpos.editPosition(position)">
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrlpos.editPosition(position)">
                            {{position.name || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrlpos.editPosition(position)">
                            {{position.description || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                      </div>
                      <div ng-if="position._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-5">
                            <em-form-input-group type="basic" validate="position._submitted"
                            errors="[{positionName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="positionName" ng-model="position.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-4">
                            <em-form-input-group type="basic" validate="position._submitted"
                              errors="[{positionDescription: [{required: 'Morate uneti opis.'}]}]">
                              <input name="typeDescription" ng-model="position.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-3 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlpos.savePosition(position, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlpos.cancelPosition(position, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlpos.positions.length">
                      <em class="text-info">{{'NO_POSITIONS' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlpos.getList()" total-items="ctrlpos.itemCount"
                                    items-per-page="ctrlpos.itemsPerPage" ng-model="ctrlpos.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlpos.loadingIsActive"></span>
</div>
