 <div class="wrapper" id="main-page">

  <header class="main-header">
    <!-- Logo -->
    <a class="logo" role="button">       
      <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>M</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>MINIS</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a class="sidebar-toggle" toggle-sidebar role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
      <div class="navbar-custom-menu">
      
      <!-- Language selection -->
      <ul class="nav navbar-nav">    
        <div class="btn-group" style="margin: 10px;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #FFF; border: 0;">
              <span ng-if="$root.activeLanguage=='en'">
                <img src="app/assets/images/en.png" height="15px"/>  &nbsp;&nbsp;&nbsp;
                <a role="button" translate="BUTTON_LANG_EN"></a>
              </span>
              <span ng-if="$root.activeLanguage=='sr_lat'">
                <img src="app/assets/images/srb.png" height="15px"/>  &nbsp;&nbsp;&nbsp;
                <a role="button" translate="BUTTON_LANG_SR_LAT"></a>
              </span>
              <span ng-if="$root.activeLanguage=='sr_cyr'">
                <img src="app/assets/images/srb.png" height="15px"/>  &nbsp;&nbsp;&nbsp;
                <a role="button" translate="BUTTON_LANG_SR_CYR"></a>
              </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-click="changeLanguage('sr_lat')">
              <span>
                <img src="app/assets/images/srb.png" height="15px"/>  &nbsp;&nbsp;&nbsp;
                <a role="button" translate="BUTTON_LANG_SR_LAT"></a>
              </span>
            </li>
            <li ng-click="changeLanguage('sr_cyr')">
              <span>
                <img src="app/assets/images/srb.png" height="15px"/>  &nbsp;&nbsp;&nbsp;
                <a role="button" translate="BUTTON_LANG_SR_CYR"></a>
              </span>
            </li>
            <li ng-click="changeLanguage('en')">
              <span>
                <img src="app/assets/images/en.png" height="15px"/>  &nbsp;&nbsp;&nbsp;
                <a role="button" translate="BUTTON_LANG_EN"></a>
              </span>
            </li>
          </ul>
        </div>
      </ul>


        <ul class="nav navbar-nav">           
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                  <img src="app/assets/images/logo.png" class="user-image" alt="User Image">

                  <span class="hidden-xs">{{ userInfo | emFullname }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="app/assets/images/logo.png" class="img-circle" alt="User Image">
                    <div>
                      {{ userInfo | emFullname }}
                    </div>
                  </li>
                  <li class="user-body">                    
                    <div class="pull-right">
                      <a href="app/assets/docs/Uputstvo.pdf"><span translate="USER_MANUAL">Uputstvo</span> <i class="fa fa-book"></i></a> 
                    </div>
                  </li>   
                  <li class="user-body">                    
                    <div class="pull-right">
                      <a href="mailto:minis@mpn.gov.rs" target="_top"><span translate="USER_SUPPORT">Podrška</span> <i class="fa fa-at"></i></a> 
                    </div>
                  </li>   
                  <!-- Menu Center -->
                  <li class="user-body">                    
                    <div class="pull-right">
                      <a ui-sref="changePassword"><span translate="CHANGE_PASSWORD">Change password</span> <i class="fa fa-key"></i></a> 
                    </div>
                  </li>
           
                  <!-- Menu Footer-->
                  <li class="user-footer">                    
                    <div class="pull-right">
                      <a href ng-click="logOut()"><span translate="LOGOUT">Odjava</span> <i class="fa fa-power-off"></i></a> 
                    </div>
                  </li>
                </ul>
              </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">        
       <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <!-- <img src="assets/images/logo-big.png" class="img-circle" alt="User Image"> -->
        </div>
        <div class="pull-left info">
          <p>{{userInfo | emFullname}}</p>
          
        </div>
      </div>
      <!-- search form -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">        

        <li class="header"><strong>{{'INSTITUTION' | translate}}</strong></li>
        <mns-nav-link mns-sref="institutions" title="{{'INSTITUTION' | translate}}" icon="fa fa-university"></mns-nav-link>
        <mns-nav-link mns-sref="adminInstitution" title="{{'INSTITUTION' | translate}}" icon="fa fa-university" translation="INSTITUTION"></mns-nav-link>
        <mns-nav-link mns-sref="persons" title="{{'PERSONS' | translate}}" icon="fa fa-user"></mns-nav-link>
        <mns-nav-link mns-treeview title="{{'ADMINISTRATION' | translate}}" icon="fa fa-dashboard" mns-sref="administration">
          <mns-nav-link mns-nav-link title=" {{'INSTITUTION_TYPES' | translate}}" mns-sref="institutionTypes"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'INSTITUTIONS_STATUS' | translate}}" mns-sref="institutionStatus"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'ACTIVITIES' | translate}}" mns-sref="activitys" translation=""></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'RESEARCH_AREAS' | translate}}" mns-sref="researchArea"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'USERS' | translate}}" mns-sref="users"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'FUNCTIONS' | translate}}" mns-sref="function"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'POSITION' | translate}}" mns-sref="position"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'STATES' | translate}}" mns-sref="states"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'CITIES' | translate}}" mns-sref="cities"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'TOWNSHIPS' | translate}}" mns-sref="townShips"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'CATEGORIES' | translate}}" mns-sref="categories"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'PERSON_STATUSES' | translate}}" mns-sref="personStatus"></mns-nav-link>
          <mns-nav-link mns-nav-link title=" {{'PERSON_TYPES' | translate}}" mns-sref="personTypes"></mns-nav-link>
          <!-- <li><a href ui-sref=""><span> Vrsta instituta</span></a></li>
          <li ui-sref-active="active"><a href ui-sref=""><span> Vlasnicka struktura</span></a></li>
          <li ui-sref-active="active"><a href ui-sref=""><span> Jezik</span></a></li>
          <li ui-sref-active="active"><a href ui-sref=""><span> Oblasti istrazivanja</span></a></li>
          <li ui-sref-active="active"><a href ui-sref=""><span> Delatnost</span></a></li>
          <li ui-sref-active="active"><a href ui-sref=""><span> Korisnici</span></a></li> -->
        </mns-nav-link> 
        <!-- <li class="header"><strong>Administracija</strong></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Vrste institucije</span></a></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Vrsta instituta</span></a></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Vlasnicka struktura</span></a></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Jezik</span></a></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Oblasti istrazivanja</span></a></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Delatnost</span></a></li>
        <li ui-sref-active="active"><a href ui-sref="institutions"><i class="fa fa-university"></i><span> Korisnici</span></a></li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>  
  <div class="content-wrapper">
    <section class="content">
      <div class="col-sm-12" id="page-content">
      <div ui-view></div>
      <div ng-if="false">
        <section class="content">

          <div class="error-page">
            <h2 class="headline text-red">!</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-red"></i> <span translate="COMPANY_NOT_SELECTED">Company not selected.</span></h3>
              <p translate="PLEASE_SELECT_COMPANY_FIRST">
                Please, select the company first.
                You can choose a company using the search form "Search Companies".
              </p>              
            </div>
          </div><!-- /.error-page -->

        </section><!-- /.content -->
      </div>
    </div>
    </section>
  </div> 

   <footer class="main-footer text-right">  
    <a href="mailto:minis@mpn.gov.rs" target="_top" style="color:#000;"><strong>MINIS &copy; {{VERSION}} 2015</strong></a>
  </footer>  
</div><!-- ./wrapper -->
