<em-breadcrumb></em-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col-md-10" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">

          <form name="BasicName" novalidate class="form-horizontal row-border" ng-init="setFormScope(this)">
            <em-form-input-group title="{{'FIRST_NAME' | translate}} *" errors="[{firstNameText: [{required: 'FIRST_NAME_MANDATORY'}]}]" validate="submittedBasicName" ng-show="displayTypeaheadOnName">
              <input name="firstNameText" type="text" class="form-control" ng-model="data.firstName" ng-required="displayTypeaheadOnName">
            </em-form-input-group>
          </form>

          <form name="typeaheadForm" novalidate class="form-horizontal row-border">      
              <em-form-input-group title="{{'LAST_NAME' | translate}} *" errors="[{personSearchLastName: [{required: 'LAST_NAME_MANDATORY'}]}]" ng-show="displayTypeaheadOnName">
                <em-person-typeahead name="personSearchLastNameT" id="personSearchLastNameT" value="search.valueLastName" query="data.lastName"
                      on-select="addctrl.selectPersonLastName(person)" firstnamestring="{{data.firstName}}" ng-required="displayTypeaheadOnName">
                </em-person-typeahead>
                <input type="hidden" ng-model="data.lastName" name="personSearchLastName" id="personSearchLastName" ng-required="displayTypeaheadOnName">
              </em-form-input-group>
          </form>


          <form name="Basic" novalidate class="form-horizontal row-border">

            <em-form-input-group title="{{'FIRST_NAME' | translate}} *" errors="[{firstName: [{required: 'FIRST_NAME_MANDATORY'}]}]" validate="submittedBasic" ng-show="!displayTypeaheadOnName">
              <input name="firstName" type="text" class="form-control" ng-model="data.firstName" ng-required="!displayTypeaheadOnName">
            </em-form-input-group>

            <em-form-input-group title="{{'LAST_NAME' | translate}} *" errors="[{lastName: [{required: 'LAST_NAME_MANDATORY'}]}]"  validate="submittedBasic" ng-show="!displayTypeaheadOnName">
              <input name="lastName" type="text" class="form-control" ng-model="data.lastName" ng-required="!displayTypeaheadOnName">
            </em-form-input-group>

            <em-form-input-group title="{{'ONE_PARENTS_NAME' | translate}}" errors="[{middleName: [
                {required: 'MIDDLE_NAME_MANDATORY'},
              ]
            }]"  validate="submittedBasic">
              <input name="middleName" type="text" class="form-control" ng-model="data.middleName">
            </em-form-input-group>

            <em-form-input-group title="{{'PERSON_TITLE' | translate}}" validate="submittedBasic">
              <select name="personTitle" ng-model="data.title" class="form-control">
                <option value="none">{{'PERSON_TITLE_NONE' | translate}}</option>
                <option value="dr">Dr</option>
                <option value="mr">Mr</option>
              </select>
            </em-form-input-group>

            <em-form-input-group title="{{'BIRTH_DATE' | translate}}" errors="[{
              dateOfBirth: [
                {required: 'BIRTH_DATE_MANDATORY'}, {date: 'BIRTH_DATE_BAD_FORMAT'} ]
            }]"  validate="submittedBasic">
             <em-date-time-picker name="dateOfBirth" ng-class="{'has-error': data.errorMessage}" 
             ng-model="data.dateOfBirth" ></em-date-time-picker>
            </em-form-input-group>

            <em-form-input-group title="{{'STATE_OF_BIRTH' | translate}}" errors="[{state: [{required: 'STATE_OF_BIRTH_MANDATORY'}]}]"  validate="submittedBasic"
            validate="submittedBasic">
              <input type="text" name="state" ng-model="data.state" class="form-control">
            </em-form-input-group>

            <em-form-input-group title="{{'CITY_OF_BIRTH' | translate}}" errors="[{placeOfBirth: [{required: 'CITY_OF_BIRTH_MANDATORY'}]}]"
             validate="submittedBasic">
              <input name="placeOfBirth" type="text" class="form-control" ng-model="data.placeOfBirth">
            </em-form-input-group>

            <em-form-input-group title="{{'TOWNSHIP_OF_BIRTH' | translate}}" errors="[{townShipOfBirth: [{required: 'TOWNSHIP_OF_BIRTH_MANDATORY'}]}]"
             validate="submittedBasic">
              <input name="townShipOfBirth" type="text" class="form-control" ng-model="data.townShipOfBirth">
            </em-form-input-group>

            <em-form-input-group title="{{'STATE_OF_RESIDENCE' | translate}}" errors="[{stateOfResidence: [{required: 'STATE_OF_RESIDENCE_MANDATORY'}]}]" 
            validate="submittedBasic">
              <input type="text" name="stateOfResidence" ng-model="data.stateOfResidence" class="form-control">
            </em-form-input-group>

             <em-form-input-group title="{{'CITY_OF_RESIDENCE' | translate}}" errors="[{city: [{required: 'CITY_OF_RESIDENCE_MANDATORY'}]}]">
              <input name="city" type="text" class="form-control" ng-model="data.city">
            </em-form-input-group>

            <em-form-input-group title="{{'TOWNSHIP_OF_RESIDENCE' | translate}}" errors="[{townShipOfResidence: [{required: 'TOWNSHIP_OF_RESIDENCE_MANDATORY'}]}]"
             validate="submittedBasic">
              <input name="townShipOfResidence" type="text" class="form-control" ng-model="data.townShipOfResidence">
            </em-form-input-group>

            <em-form-input-group title="{{'STREET_OF_RESIDENCE' | translate}}" errors="[{address: [{required: 'STREET_OF_RESIDENCE_MANDATORY'}]}]"
            validate="submittedBasic">
              <input name="address" type="text" class="form-control" ng-model="data.address">
            </em-form-input-group>

            <em-form-input-group title="{{'GENDER' | translate}}" errors="[{gender: [{required: 'GENDER_MANDATORY'}]}]" validate="submittedBasic">
             <select name="gender" ng-model="data.gender" class="form-control"
                    ng-options="gender.id as gender.name for gender in addctrl.genders">
              <option value="">{{'SELECT_GENDER' | translate}}</option></select>
            </em-form-input-group>

            <em-form-input-group title="{{'JMBG_PASSPORT_NUMBER' | translate}} *" errors="[{jmbg: [{required: 'JMBG_MANDATORY'}, {pattern: 'ID_PATTERN_ERROR'}]}]"
            validate="submittedBasic">
              <input name="jmbg" type="text" class="form-control" ng-model="data.jmbg" ng-disabled="jmbgFieldDisabled" required>
            </em-form-input-group>

            <em-form-input-group title="{{'EMAIL' | translate}}" errors="[{email: [{required: 'EMAIL_MANDATORY'}]}]"
            validate="submittedBasic">
              <input name="email" type="email" class="form-control" ng-model="data.email">
            </em-form-input-group>

            <em-form-input-group title="{{'PHONE_NUMBERS' | translate}}" errors="[{phones: [{required: 'TELEPHONE_MANDATORY'}]}]"
            validate="submittedBasic">
              <input name="phones" type="text" class="form-control" ng-model="data.phones">
            </em-form-input-group>

            <em-form-input-group title="{{'PERSONAL_WEB_ADRESS' | translate}}" errors="[{uri: [{required: 'PERSONAL_WEB_ADRESS_MANDATORY'}]}]"
            validate="submittedBasic">
              <input name="uri" type="text" class="form-control" ng-model="data.uri">
            </em-form-input-group>

            <em-form-input-group title="{{'PERSON_STATUS' | translate}}" errors="[{personStatus: [{required: 'PERSON_STATUS_MANDATORY'}]}]" validate="submittedBasic">
              <select name="personStatus" ng-model="data.personStatus" class="form-control"
                    ng-options="personStatus.id as personStatus.name for personStatus in addctrl.personStatuses">
              </select>
            </em-form-input-group>

            <div ng-if="data.personStatus === -1" ng-form="statusForm" class="form-group col-sm-12">
              <div class="col-sm-6 col-sm-offset-3"> 
                <div class="col-sm-5">
                  <em-form-input-group type="basic" validate="addctrl.personStatus._submitted">
                    <input name="statusName" ng-model="addctrl.personStatus.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" ng-required="data.personStatus === -1">
                  </em-form-input-group>
                </div>
                <div class="col-sm-4">
                  <em-form-input-group type="basic" validate="addctrl.personStatus._submitted">
                    <input name="statusDescription" ng-model="addctrl.personStatus.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5">
                  </em-form-input-group>
                </div>                        
                <div class="col-sm-3 text-right">
                    <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                            ng-click="addctrl.savePersonStatus(addctrl.personStatus, statusForm)">
                      <i class="fa fa-check"></i>
                    </button>
                  </div>
               </div>   
             </div>

            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="reset()" class="btn btn-lg btn-brown" ng-disabled="loadingCounter<8">
                    <i class="fa fa-times"></i> {{'CANCEL' | translate}}
                  </button>
                  <button ng-click="addctrl.savePerson(Basic)" class="btn btn-lg btn-success" name="btnSave" ng-disabled="loadingCounter<8">
                    <i class="fa fa-check"></i> {{'SAVE' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
<span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="loadingCounter<8"></span>
