<em-breadcrumb></em-breadcrumb>
<div style="margin-left: 50px; color: gray;">
  <br/>
  <h5><b>{{tabsTitle}}</b></h5>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form name="Project" novalidate class="form-horizontal row-border">

          <em-form-input-group title="{{'PERSON_TYPE' | translate}} *" errors="[{personType: [{required: 'PERSON_TYPE_SELECT_MANDATORY'}]}]" validate="submittedBasic">
             <select name="personType" ng-model="data.type" class="form-control"
                    ng-options="personType.id as personType.name for personType in addctrl.personTypes" ng-disabled="!isAdmin">
              </select>
            </em-form-input-group>

            <div class="row">
              <div ng-if="data.type === -1" ng-form="typeForm" class="form-group col-sm-12">
                <div class="col-sm-6 col-sm-offset-3"> 
                  <div class="col-sm-5">
                    <em-form-input-group type="basic" validate="addctrl.type._submitted">
                      <input name="typeName" ng-model="addctrl.type.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control col-sm-5" required>
                    </em-form-input-group>
                  </div>
                  <div class="col-sm-4">
                    <em-form-input-group type="basic" validate="addctrl.type._submitted">
                      <input name="typeDescription" ng-model="addctrl.type.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control col-sm-5">
                    </em-form-input-group>
                  </div>                        
                  <div class="col-sm-3 text-right">
                      <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                              ng-click="addctrl.savePersonType(addctrl.type, typeForm)">
                        <i class="fa fa-check"></i>
                      </button>
                    </div>
                 </div>   
               </div>
             </div>

             <em-form-input-group title="{{'ACCOUNTING_PROFESSION' | translate}} " validate="submittedBasic">
             <select name="personPosition" ng-model="data.personPositions" class="form-control"
                    ng-options="personPosition.id as personPosition.name for personPosition in addctrl.positions" ng-disabled="!isAdmin">
                    <option value="">{{'SELECT_ACCOUNTING_PROFESSION' | translate}}</option>
              </select>
            </em-form-input-group>

            <em-form-input-group title="{{'PERSON_CATEGORIES' | translate}}" >
             <select style="width: 440px;" ui-select2="select2Options" multiple ng-model="data.categories"
               data-placeholder="{{'SELECT_PERSON_CATEGORIES' | translate}}" ng-disabled="!isAdmin">
                  <option ng-repeat="area in addctrl.category" value="{{area}}">{{area.name}}</option>
              </select>
            </em-form-input-group>  

            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="reset()" class="btn btn-lg btn-brown" ><i class="fa fa-times" ng-disabled="!isAdmin"></i> {{'CANCEL' | translate}}</button>
                  <button ng-click="addctrl.savePerson(Project)" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check" ng-disabled="!isAdmin"></i> {{'SAVE' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
