<em-breadcrumb></em-breadcrumb>
<div style="margin-left: 50px; color: gray;">
  <br/>
  <h5><b>{{tabsTitle}}</b></h5>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form name="Register" novalidate class="form-horizontal row-border">

            <em-form-input-group title="{{'BIBLIOGRAPHY' | translate}} *" errors="[{bibliography: [{required: 'BIBLIOGRAPHY_MANDATORY'}]}]"
            validate="submittedRegister">
              <input name="bibliography" type="text" class="form-control" ng-model="data.bibliography" required ng-disabled="!isAdmin">
            </em-form-input-group>

            <em-form-input-group title="{{'RESEARCH_AREAS' | translate}} *" errors="[{researchAreas: [{required: 'RESEARCH_AREAS_MANDATORY'}]}]"
             validate="submittedRegister">
              <input name="researchAreas" type="text" class="form-control" ng-model="data.researchAreas" required ng-disabled="!isAdmin">
            </em-form-input-group>

            <em-form-input-group title="{{'ID_NUMBER_IN_MINISTRY' | translate}} *" errors="[{
              mntrn: [
                {required: 'ID_NUMBER_IN_MINISTRY_MANDATORY'},
              ]
            }]" validate="submittedRegister">
              <input name="mntrn" type="text" class="form-control" ng-model="data.mntrn" required ng-disabled="!isAdmin">
            </em-form-input-group>

            <em-form-input-group title="{{'REMARK' | translate}}" >
              <input name="note" type="text" class="form-control" ng-model="data.note" ng-disabled="!isAdmin">
            </em-form-input-group>


            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-3">* - {{'MANDATORY_FIELDS' | translate}}</div>
              <div class="col-sm-4">
                <div class="pull-right">
                  <button ng-click="reset()" class="btn btn-lg btn-brown" ui-sref="^"><i class="fa fa-times"></i> {{'CANCEL' | translate}}</button>
                  <button ng-click="addctrl.savePerson(Register)" class="btn btn-lg btn-success" name="btnSave" ng-disabled="!isAdmin"><i class="fa fa-check"></i> {{'SAVE' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div> <!-- container -->
