<div class="modal-header">
  <span class="text-bold">{{'HIRE' | translate}}</span>
  <button type="button" class="bootbox-close-button close" ng-click="cancel()" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12" >
      <div class="panel panel-grey">
        <div class="panel-heading ">
        </div>
        <div class="panel-body">
          <form name="personFrom" novalidate class="form-horizontal row-border">

             <em-form-input-group title="{{'POSITION' | translate}}" ng-hide="connection.function">
                <select ng-model="connection.position" class="form-control"
                   ng-options="per.id as per.name for per in positions">
                   <option value="">{{'SELECT_POSITION' | translate}}</option>
                </select>
            </em-form-input-group>

             <em-form-input-group title="{{'FUNCTION' | translate}}" ng-hide="connection.position">
                <select ng-model="connection.function" class="form-control"
                   ng-options="per.id as per.name for per in functions">
                   <option value="">{{'SELECT_FUNCTION' | translate}}</option>
                </select>
            </em-form-input-group>

            <em-form-input-group title="{{'FROM' | translate}} *" errors="[{
                startDate: [{required: 'ENGAGEMENT_DATE_MANDATORY'} ]
              }]"  validate="submittedConnection">
              <em-date-time-picker name="startDate" ng-class="{'has-error': data.errorMessage}"
               ng-required="true" ng-model="connection.startDate" ></em-date-time-picker>
            </em-form-input-group>
             <em-form-input-group title="{{'TO' | translate}}">
              <em-date-time-picker name="endDate" ng-class="{'has-error': data.errorMessage}"
                ng-model="connection.endDate" ></em-date-time-picker>
            </em-form-input-group>
          </form>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div>
<div class="modal-footer">
  <button ng-click="cancel()" class="btn btn-lg btn-brown" ><i class="fa fa-times"></i> {{'CANCEL' | translate}}</button>
  <button ng-click="save()" class="btn btn-lg btn-success" name="btnSave"><i class="fa fa-check"></i> {{'HIRE' | translate}}</button>
</div>
