<div class="container col-md-12" ng-controller="AddPersonController as addctrl">
  <div class="row" ng-hide="loadingCounter<8">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <tabset>
                <tab>
                  <tab-heading class="text-uppercase">{{'PERSONAL_DATA' | translate}}</tab-heading>
                  <ng-include src="'src/persons/add-person-basic.view.html'"></ng-include>
                </tab>
                <tab disable="!personId">
                  <tab-heading class="text-uppercase">{{'DATA_FOR_REGISTER' | translate}}</tab-heading>
                  <ng-include src="'src/persons/add-person-register.view.html'"></ng-include>
                </tab>
                <tab disable="!personId">
                  <tab-heading class="text-uppercase">{{'DATA_FOR_PROJECTS' | translate}}</tab-heading>
                  <ng-include src="'src/persons/add-person-project.view.html'"></ng-include>
                </tab>
                <tab disable="!personId">
                  <tab-heading class="text-uppercase">{{'ENGAGEMENTS' | translate}}</tab-heading>
                  <ng-include src="'src/persons/person-connections.view.html'"></ng-include>
                </tab>
            </tabset>

          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="loadingCounter<8"></span>
</div>
