<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="StateController as ctrlpos">
  <div class="row" ng-hide="ctrlpos.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlpos.addState()" name="addState" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_STATE' | translate}} 
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-md-5 col-sm-5">{{'NAME' | translate}}</div>
                    <div class="col-md-5 col-sm-5">{{'DESCRIPTION' | translate}}</div> 
                    <div class="col-sm-2">{{'CITIES_REGISTERED' | translate}}</div>                   
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="state in ctrlpos.states" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!state._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlpos.editState(state)">
                        <div class="col-md-5 col-sm-5 clickable">
                           <a ng-click="ctrlpos.editState(state)">
                            {{state.name || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                        <div class="col-md-5 col-sm-5 clickable">
                           <a ng-click="ctrlpos.editState(state)">
                            {{state.description || ('EMPTY' | translate)}}
                          </a>
                        </div> 
                        <div class="col-md-2 col-sm-2 clickable">
                           <a ng-click="ctrlpos.editState(state)">
                            <i class="fa fa-check" ng-if="state.citiesRegistered"></i>
                            <i class="fa fa-times" ng-if="!state.citiesRegistered"></i>
                          </a>
                        </div>                       
                      </div>
                      <div ng-if="state._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-5">
                            <em-form-input-group type="basic" validate="state._submitted"
                            errors="[{stateName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="stateName" ng-model="state.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-5">
                            <em-form-input-group type="basic" validate="state._submitted"
                              errors="[{stateDescription: [{required: 'Morate uneti opis.'}]}]">
                              <input name="stateDescription" ng-model="state.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-1">
                            <em-form-input-group type="basic" validate="state._submitted">
                              <input name="citiesRegistered" ng-model="state.edit.citiesRegistered" type="checkbox" ng-checked="state.edit.citiesRegistered">
                            </em-form-input-group>
                          </div>                       
                          <div class="col-sm-1 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlpos.saveState(state, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlpos.cancelState(state, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlpos.states.length">
                      <em class="text-info">{{'NO_STATES' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlpos.getList()" total-items="ctrlpos.itemCount"
                                    items-per-page="ctrlpos.itemsPerPage" ng-model="ctrlpos.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlpos.loadingIsActive"></span>
</div>
