<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="ActivityController as ctrlpos">
  <div class="row" ng-hide="ctrlpos.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlpos.addActivity()" name="addActivity" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_INSTITUTION_ACTIVITY' | translate}}
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-sm-4">{{'NAME' | translate}}</div>
                    <div class="col-sm-4">{{'ACTIVITY_CODE' | translate}}</div>
                    <div class="col-sm-4">{{'DESCRIPTION' | translate}}</div>                    
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="activity in ctrlpos.activitys" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!activity._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlpos.editActivity(activity)">
                        <div class="col-md-4 col-sm-4 clickable">
                           <a ng-click="ctrlpos.editActivity(activity)">
                            {{activity.name || ('EMPTY' | translate)}}
                          </a>
                        </div>     
                        <div class="col-md-4 col-sm-4 clickable">
                           <a ng-click="ctrlpos.editActivity(activity)">
                            {{activity.code || ('EMPTY' | translate)}}
                          </a>
                        </div>                    
                        <div class="col-md-4 col-sm-4 clickable">
                           <a ng-click="ctrlpos.editActivity(activity)">
                            {{activity.description || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                      </div>
                      <div ng-if="activity._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-4">
                            <em-form-input-group type="basic" validate="activity._submitted"
                            errors="[{activityName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="activityName" ng-model="activity.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-2">
                            <em-form-input-group type="basic" validate="activity._submitted"
                              errors="[{activityCode: [{required: 'Morate uneti kod delatnosti.'}]}]">
                              <input name="activityCode" ng-model="activity.edit.code" type="text" placeholder="{{'ACTIVITY_CODE' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div> 
                          <div class="col-sm-3">
                            <em-form-input-group type="basic" validate="activity._submitted"
                              errors="[{activityDescription: [{required: 'Morate uneti opis.'}]}]">
                              <input name="activityDescription" ng-model="activity.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-3 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlpos.saveActivity(activity, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlpos.cancelActivity(activity, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlpos.activitys.length">
                      <em class="text-info">{{'NO_ACTIVITIES' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlpos.getList()" total-items="ctrlpos.itemCount"
                                    items-per-page="ctrlpos.itemsPerPage" ng-model="ctrlpos.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlpos.loadingIsActive"></span>
</div>
