<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="CitiesController as ctrlpos">
  <div class="row" ng-hide="ctrlpos.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlpos.addCity()" name="addCity" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_CITY' | translate}}
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-sm-3">{{'NAME' | translate}}</div>
                    <div class="col-sm-3">{{'ZIP_CODE' | translate}}</div>
                    <div class="col-sm-3">{{'STATE' | translate}}</div> 
                    <div class="col-sm-3">{{'DESCRIPTION' | translate}}</div>
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="city in ctrlpos.cities" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!city._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlpos.editCity(city)">
                        <div class="col-sm-3 clickable">
                           <a ng-click="ctrlpos.editCity(city)">
                            {{city.name || ('EMPTY' | translate)}}
                          </a>
                        </div>
                        <div class="col-sm-3 clickable">
                           <a ng-click="ctrlpos.editCity(city)">
                            {{city.zipCode || ('EMPTY' | translate)}}
                          </a>
                        </div>    

                        <div class="col-sm-3 clickable">
                           <a ng-click="ctrlpos.editCity(city)">
                            {{ctrlpos.states[city.state.id].name || ('EMPTY' | translate)}}
                          </a>
                        </div>
                        <div class="col-sm-3 clickable">
                           <a ng-click="ctrlpos.editCity(city)">
                            {{city.description || ('EMPTY' | translate)}}
                          </a>
                        </div>                      
                      </div>
                      <div ng-if="city._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-3">
                            <em-form-input-group type="basic" validate="city._submitted"
                            errors="[{cityName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="cityName" ng-model="city.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-2">
                            <em-form-input-group type="basic" errors="[{
                              zipcode: [
                                {required: 'Morate uneti poštanski broj.'},
                                 {pattern: 'Poštanski broj nije u dobrom formatu.'}]
                            }]"  validate="city._submitted">
                              <input name="zipcode" type="text" class="form-control" ng-model="city.edit.zipCode" placeholder="{{'ZIP_CODE' | translate}}" ng-pattern="patterns.zipcode" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-3">
                            <em-form-input-group type="basic" validate="city._submitted"
                              errors="[{cityState: [{required: 'Morate odabrati državu!.'}]}]">
                               <select ng-model="city.edit.state" class="form-control" name="cityState"
                                 ng-options="state as state.name for (key, state) in ctrlpos.states" required>
                                 <option value="">{{'SELECT_STATE' | translate}}</option>
                              </select>
                            </em-form-input-group>
                          </div> 
                          <div class="col-sm-2">
                            <em-form-input-group type="basic">                              
                              <input name="cityDescription" ng-model="city.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-2 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlpos.saveCity(city, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlpos.cancelCity(city, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlpos.cities.length">
                      <em class="text-info">{{'NO_CITIES' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlpos.getList()" total-items="ctrlpos.itemCount"
                                    items-per-page="ctrlpos.itemsPerPage" ng-model="ctrlpos.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlpos.loadingIsActive"></span>
</div>
