<div class="container col-sm-12" ng-controller="ChangePasswordController as ctrl">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <p class="login-box-msg">{{'PASSWORD_CHANGE_TITLE' | translate}}</p>       
            <form name="PasswordBasic" class="form-horizontal" nonvalidate>

              <em-form-input-group title="{{'OLD_PASSWORD' | translate}} *" errors="[{oldPassword: [{required: 'OLD_PASSWORD_MANDATORY'}]}]" validate="submittedPasswordBasic">
                <input name="oldPassword" type="password" class="form-control" ng-model="data.oldPassword" required>
              </em-form-input-group>
             
              <em-form-input-group title="{{'NEW_PASSWORD' | translate}} *" errors="[{newPassword: [{required: 'NEW_PASSWORD_MANDATORY'}]}]" validate="submittedPasswordBasic">
                <input name="newPassword" type="password" class="form-control" ng-model="data.newPassword" ng-change="ctrl.resetError()" required>
              </em-form-input-group>

              <em-form-input-group title="{{'NEW_PASSWORD_RETYPE' | translate}} *" errors="[{newPasswordRepeat: [{required: 'NEW_PASSWORD_RETYPE_MANDATORY'}]}]" validate="submittedPasswordBasic">
                <input name="newPasswordRepeat" type="password" class="form-control" ng-model="data.newPasswordRepeat" ng-change="ctrl.resetError()" required>
              </em-form-input-group>

              <p style="color:red;" ng-show="data.showErrorText">** {{'OLD_NEW_PASSWORD_MATCH_ERROR' | translate}}</p>

              <div class="col-sm-12">
                <div class="pull-right"> 
                  <button ng-click="ctrl.changePassword(PasswordBasic)" class="btn btn-lg btn-success" name="btnChange"><i class="fa fa-check"></i> {{'SAVE' | translate}}</button>
                </div>
              </div>

            </form>            
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
</div>

