  <div class="login-box">
    <div class="login-logo">
      <h2><b>M</b>INIS</h2>
    </div><!-- /.login-logo -->
    <div class="login-box-body"> 
      <p class="login-box-msg">Unesite novu lozinku.</p>       
      <form name="reset_password" class="form-horizontal" nonvalidate>
        <div class="form-group has-feedback">
          <em-form-input-group title="Lozinka" width="12" errors="[
          {email: [{required: 'Morate uneti lozinku!'},
                   {minlength: 'Lozinka mora imati više od 5 karaktera!'},
                   {maxlength: 'Lozinka mora imati manje od 100 karaktera!'}]}]">
            <input name="email" type="password" ng-minlength="5" ng-maxlength="100" class="form-control" ng-model="data.newPassord" required>
          </em-form-input-group>
        </div>
        <div class="form-group has-feedback">
            <button type="button" class="btn btn-success btn-block btn-flat text-center" ng-click="resetPassword(reset_password); reset_password.$setPristine()">
              Resetuj lozinku
            </button>
        </div>
      </form>
    </div><!-- /.login-box-body -->
    <em-server-error-display title='Greska sa servera' server-error='serverError'></em-server-error-display>
      <em-data-error-display error-title="Problem sa resetovanjem lozinke" 
          errors="dataErrors" warnings="dataWarnings">
      </em-data-error-display>
  </div><!-- /.login-box -->
