  <div class="login-box">
    <div class="login-logo">
      <h2><b>M</b>INIS</h2>
    </div><!-- /.login-logo -->
    <div class="login-box-body"> 
      <p class="login-box-msg">Prijavite se da počnete sa radom.</p>       
      <form name="login_user" class="form-horizontal" nonvalidate>
        <div class="form-group has-feedback">
          <input id="username" class="form-control" name="username" required ng-model="login.user" type="text" placeholder="Korisničko ime">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="has-error help-block" ng-show="login_user.username.$error.required && login_user.username.$dirty">Korisničko ime obavezno</span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="password" id="password" placeholder="Lozinka" required ng-model="login.password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
           <span class="has-error help-block" ng-show="login_user.password.$error.required && login_user.password.$dirty">Lozinka obavezna</span>
        </div>
        <div class="row">
          <div class="col-xs-6 pull-left">
              <button type="button" class="btn btn-danger btn-block btn-flat" ng-click="login_user.$setPristine(); authCtrl.cancelLogin()">Odustani</button>
          </div><!-- /.col -->
          <div class="col-xs-6 pull-right">
              <button type="submit" class="btn btn-info btn-block btn-flat" ng-disabled="login_user.$invalid" ng-click="authCtrl.login(); login_user.$setPristine()">
                Prijavi se
              </button>
          </div><!-- /.col -->
        </div>
        <div class="row">
          <p class="text-center"><a ui-sref="forgotPassword">Zaboravili ste lozinku?</a></p>          
        </div>
      </form>
    </div><!-- /.login-box-body -->
    <em-server-error-display title='Greska sa servera' server-error='serverError'></em-server-error-display>
      <em-data-error-display error-title="Problem sa logovanjem" warning-title="Time Entry Warnings"
          errors="dataErrors" warnings="dataWarnings">
      </em-data-error-display>
  </div><!-- /.login-box -->
