<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="InstitutionStatusController as ctrlis">
  <div class="row" ng-hide="ctrlis.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlis.addStatus()" name="addStatus" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_INSTITUTION_STATUS' | translate}}
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-md-6 col-sm-6">{{'NAME' | translate}}</div>
                    <div class="col-md-6 col-sm-6">{{'DESCRIPTION' | translate}}</div>                    
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="status in ctrlis.institutionStatus" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!status._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlis.editStatus(status)">
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrlis.editStatus(status)">
                            {{status.name || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrlis.editStatus(status)">
                            {{status.description || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                      </div>
                      <div ng-if="status._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-5">
                            <em-form-input-group type="basic" validate="status._submitted"
                            errors="[{statusName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="statusName" ng-model="status.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-4">
                            <em-form-input-group type="basic" validate="status._submitted"
                              errors="[{typeDescription: [{required: 'Morate uneti opis.'}]}]">
                              <input name="typeDescription" ng-model="status.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-3 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlis.saveStatus(status, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlis.cancelStatus(status, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlis.institutionStatus.length">
                      <em class="text-info">{{'NO_INSTITUTION_STATUSES' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlis.getList()" total-items="ctrlis.itemCount"
                                    items-per-page="ctrlis.itemsPerPage" ng-model="ctrlis.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlis.loadingIsActive"></span>
</div>
