/*
 * Skin: Red
 * ---------
 */

@import "../bootstrap/mixins.less";
@import "../bootstrap/variables.less";

.skin-red {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@red; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@red, 5%);
        }
      }
      @media(max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255,255,255,0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@red, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(@red, 5%));
    }

    li.user-header {
      background-color: @red;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@red);
}
