<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="TownShipController as ctrlpos">
  <div class="row" ng-hide="ctrlpos.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlpos.addTownShip()" name="addTownShip" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_TOWNSHIP' | translate}} 
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-md-6 col-sm-6">{{'NAME' | translate}}</div>
                    <div class="col-sm-3">{{'STATE' | translate}}</div>
                    <div class="col-md-6 col-sm-6">{{'DESCRIPTION' | translate}}</div> 
                    <div class="col-sm-3"></div>                    
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="townShip in ctrlpos.townShips" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!townShip._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlpos.editTownShip(townShip)">
                        <div class=" col-sm-3 clickable">
                           <a ng-click="ctrlpos.editTownShip(townShip)">
                            {{townShip.name || ('EMPTY' | translate)}}
                          </a>
                        </div>  
                        <div class="col-sm-3 clickable">
                           <a ng-click="ctrlpos.editTownShip(townShip)">
                            {{ctrlpos.states[townShip.state.id].name || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                        <div class="col-sm-3 clickable">
                           <a ng-click="ctrlpos.editTownShip(townShip)">
                            {{townShip.description || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                      </div>
                      <div ng-if="townShip._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-3">
                            <em-form-input-group type="basic" validate="townShip._submitted"
                            errors="[{townShipName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="townShipName" ng-model="townShip.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-3">
                            <em-form-input-group type="basic" validate="townShip._submitted"
                              errors="[{state: [{required: 'Morate odabrati državu!.'}]}]">
                               <select ng-model="townShip.edit.state" class="form-control" name="state"
                                 ng-options="state as state.name for (key, state) in ctrlpos.states" required>
                                 <option value="">{{'SELECT_STATE' | translate}}</option>
                              </select>
                            </em-form-input-group>
                          </div> 
                          <div class="col-sm-3">
                            <em-form-input-group type="basic" validate="townShip._submitted">
                              <input name="townShipDescription" ng-model="townShip.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-3 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlpos.saveTownShip(townShip, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlpos.cancelTownShip(townShip, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlpos.townShips.length">
                      <em class="text-info">{{'NO_TOWNSHIPS' | translate}}</em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlpos.getList()" total-items="ctrlpos.itemCount"
                                    items-per-page="ctrlpos.itemsPerPage" ng-model="ctrlpos.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlpos.loadingIsActive"></span>
</div>
