.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

h4.divider {
  background-color: #cdcdcd;
  line-height: 1.7;
}

.ste_tax_id {
  font-size: xx-small;
}


//Login page
//====================================================
#loginForm .form-group {
  margin-bottom: 10px;
}

.navbar-right {
  margin-right: 0px;
}

//Main page
//====================================================

#main-page {

  //Navbar
  //==================================================
  .navbar {
    ul {
      margin: 0px;
    }
  }
}

//Panels
//====================================================

.panel.panel-compact {
  .panel-heading {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .btn {
      margin-top: -5px;
    }
  }
}

//Input
//=====================================================
.table.table-condensed {
  input {
    padding-left: 5px;
    padding-right: 5px;
  }
}

//Picker
//=====================================================
.picker {
  margin-top: 10px;
  margin-bottom: 10px;
}
