<em-breadcrumb></em-breadcrumb>

<div class="container col-md-12" ng-controller="PersonTypeController as ctrlpos">
  <div class="row" ng-hide="ctrlpos.loadingIsActive">
    <div class="col-md-12">
      <div class="panel panel-grey">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="row">
              <button ng-click="ctrlpos.addPersonType()" name="addPersonType" class="btn btn-lg btn-info pull-right">
                <i class="fa fa-plus"></i> {{'ADD_PERSON_TYPE' | translate}} 
              </button>
            </div>
            <div></div>
            <table class="table table-condensed table-striped table-hover mb0">
              <thead>
                <tr>
                  <th>
                    <div class="col-md-6 col-sm-6">{{'NAME' | translate}}</div>
                    <div class="col-md-6 col-sm-6">{{'DESCRIPTION' | translate}}</div>                    
                  </th>                
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="personType in ctrlpos.personTypes" role="button">
                  <td>
                    <form name="entryForm" novalidate class="form-horizontal">
                      <div ng-if="!personType._edit" class="float-vertical-align form-group form-group-sm mb0" ng-click="ctrlpos.editPersonType(personType)">
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrlpos.editPersonType(personType)">
                            {{personType.name || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                        <div class="col-md-6 col-sm-6 clickable">
                           <a ng-click="ctrlpos.editPersonType(personType)">
                            {{personType.description || ('EMPTY' | translate)}}
                          </a>
                        </div>                        
                      </div>
                      <div ng-if="personType._edit" class="float-vertical-align form-group form-group-sm mb0">
                          <div class="col-sm-5">
                            <em-form-input-group type="basic" validate="personType._submitted"
                            errors="[{personTypeName: [{required: 'Morate uneti naziv.'}]}]">
                              <input name="personTypeName" ng-model="personType.edit.name" type="text" placeholder="{{'NAME' | translate}}" class="form-control" required>
                            </em-form-input-group>
                          </div>
                          <div class="col-sm-4">
                            <em-form-input-group type="basic" validate="personType._submitted"
                              errors="[{personTypeDescription: [{required: 'Morate uneti opis.'}]}]">
                              <input name="personTypeDescription" ng-model="personType.edit.description" type="text" placeholder="{{'DESCRIPTION' | translate}}" class="form-control">
                            </em-form-input-group>
                          </div>                        
                          <div class="col-sm-3 text-right">
                            <button type="submit" name="btnSave" class="btn btn-success btn-sm"
                                    ng-click="ctrlpos.savePersonType(personType, entryForm)">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" name="btnCancel" class="btn btn-danger btn-sm"
                                    ng-click="ctrlpos.cancelPersonType(personType, $index)">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                      </div>
                    </form> 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <h4 ng-hide="ctrlpos.personTypes.length">
                      <em class="text-info">{{'NO_PERSON_TYPES' | translate}} </em>
                    </h4>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination class="navbar-right" ng-change="ctrlpos.getList()" total-items="ctrlpos.itemCount"
                                    items-per-page="ctrlpos.itemsPerPage" ng-model="ctrlpos.currentPage"
                                    previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}" boundary-links="true"
                                    first-text="{{'FIRST' | translate}}" last-text="{{'LAST' | translate}}" max-size="5">
            </pagination>
          </div>
        </div>
      </div><!--end panel-->
    </div><!--end col-->
  </div><!--end row-->
  <span style="position: fixed; top: 50%; left:50%;" us-spinner="{radius:30, width:8, length: 16}" spinner-on="ctrlpos.loadingIsActive"></span>
</div>
